*{
    box-sizing: border-box;
}

body{
    margin 0px;
    background-image: linear-gradient(to  right,#37123C,#188FA7);
}

img{
    border-radius: 50%;
}

.sobre{
    text-align: center;
    margin:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
}

p,ul,ol {
        color: #9684A1;
        text-align: left;
        margin: 50px;
        display: block;
        }
header,
main {
        color: white;
        text-align: center;
        }
a {
        font-size: large;
        color: #C0FDFB;
        }
footer {
        text-align: center;
        }